
 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 

.mypage-main {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	max-height: 600px;
	    max-width: 320px;
	max-width: 320px;
	width: 100%;
	margin:auto;
	gap: 2.5rem;
	padding: 2rem 2rem;
	border-radius: 0.5rem;
	box-shadow: 3px 3px 10px gray;
} 