@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 

.mypage-main {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	max-height: 600px;
	    max-width: 320px;
	max-width: 320px;
	width: 100%;
	margin:auto;
	gap: 2.5rem;
	padding: 2rem 2rem;
	border-radius: 0.5rem;
	box-shadow: 3px 3px 10px gray;
}

.user-profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 1rem;
}

.user-profile img {
	border: 2px solid gainsboro;
	border-radius: 100%;
	width: 100px;
	height: 100px;
}

.user-profile p {
	line-height: 1.5rem;
	width: 80%;
	height: 1.5rem;
	border-radius: 0.5rem;
	background: white;
	border: 1px solid gainsboro;
	color: gray;
}

.mypage-index {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 55%;
	gap: 1rem;
	
    align-items: center;
}

.mypage-index a {
	display: block;
	padding: 0.7rem 0;
	border-radius: 0.3rem;
	background: gainsboro;
	text-decoration: none;
	color: #000;
}

.mypage-index a {
	width: 150px;
    height: 55px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20p;
    background: gainsboro;
    color: black;
    text-decoration: none;
}

.mypage-index a:hover{
  background: #357bd8;
  border-color: #474747;
  box-shadow: 0 4px 12px rgba(0,0,0,.08);
  transform: translateY(-1px);
}