@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 

.user-profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 1rem;
}

.user-profile img {
	border: 2px solid gainsboro;
	border-radius: 100%;
	width: 100px;
	height: 100px;
}

.user-profile p {
	line-height: 1.5rem;
	width: 80%;
	height: 1.5rem;
	border-radius: 0.5rem;
	background: white;
	border: 1px solid gainsboro;
	color: gray;
}

.mypage-index {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 55%;
	gap: 1rem;
}

.mypage-index a {
	display: block;
	padding: 0.7rem 0;
	border-radius: 0.3rem;
	background: gainsboro;
	text-decoration: none;
	color: #000;
}