
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 
.user-profile-main {
	display: flex;
	max-width: 1000px;
	flex-direction: row;
	justify-items: center;
	align-items: center;
	max-height: 600px;
	width: 100%;
	margin:auto;
	gap: 2.5rem;
	padding: 2rem 2rem;
} 

.inner {
	width: 970px;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 45px;
	gap: 100px;
	/* min-height: 100vh; */
}

.left {
	flex: 1;
}

.right {
	display: inline-flex;
	max-width: 100%;
	justify-content: center;
	flex-direction: column;
	flex: 2;
	align-items: center;
}

.info {
	display: inline-flex;
	gap: 1.5rem;
	align-items: center;
    flex-direction: row;
}

.label-wrap {
	display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    height: 510px;
    justify-content: center;
}

.label-wrap label {
	background: gainsboro;
	border-radius: 0.3rem;
	text-align: center;
	padding: 0.3rem;
	width: 190px;
    height: 35px;
}

.p-wrap {
	flex: 2;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.p-wrap p {
	padding: 0.25rem;
	border: 1px solid gainsboro;
	border-radius: 0.3rem;
	    width: 250px;
    height: 35px;
}

.button-wrap {
	display: flex;
	padding: 0.5rem 0;
	width: 100%;
	gap: 0.5rem;
	/* justify-content: space-around; */
}

.button-wrap button {
	width: 50%;
	height: 100%;
}

.edit {
	width: 150px;
	height: 55px;
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
    background: gainsboro;
    color: black;
    text-decoration: none;
}

.edit:hover{
  background: #357bd8;
  border-color: #474747;
  box-shadow: 0 4px 12px rgba(0,0,0,.08);
  transform: translateY(-1px);
}

input {
	
    border: none;
    background: none;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}
input:focus {
    border: none;
    outline: none;  /* 클릭했을 때도 테두리 없음 */
}
.input-color {
	background: white;
}
.input-fix {
	background:gainsboro;
}
form {
	display: flex;
    flex-direction: column;
    align-items: center;
}