
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 
.reserve-main {
	display: flex;
	max-width: 1000px;
	flex-direction: row;
	justify-items: center;
	align-items: center;
	max-height: 600px;
	width: 100%;
	margin:auto;
	gap: 2.5rem;
	padding: 2rem 2rem;
} 

.inner {
	width: 970px;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 45px;
	gap: 100px;
	/* min-height: 100vh; */
}

.left {
	flex: 1;
}

.right {
	display: inline-flex;
	width: 100%;
	    flex: 2;
    flex-direction: column;
    align-items: center;
    height: 480px;
}

.reserve {
	display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.right .designer-profile {
	/* 오토레이아웃 */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	
	width: 250px;
	height: 150px;
	margin-bottom: 3rem;
}

.designer-profile img{
	/* 오토레이아웃 */
	
	width: 150px;
	height: 150px;
	
	/* Gray/500 */
	border-radius: 100px;
}

.designer-profile p{
	
	/* 오토레이아웃 */
	display: flex;
	justify-content: center;
	
	width: 100px;
	height: 30px;
	
	/* Theme/Body Background */
	background: #FFFFFF;
	/* Gray/400 */
	border: 1px solid #CED4DA;
	border-radius: 0.3rem;
}
/* 
.designer-area{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4rem;
} */

.reserve-detail {
	display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1.5rem;
	
}
.reserve-detail .label-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 150px;
	
}
.reserve-detail .p-wrap {
display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 200px;
	
}
.label-wrap label{
	/* 오토레이아웃 */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 43px;
	
	/* Gray/200 */
	background: gainsboro;
	/* Gray/400 */
	border: 1px solid #CED4DA;
	border-radius: 0.3rem;
}

.p-wrap p {
	
	/* 오토레이아웃 */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 43px;
	
	/* Theme/Body Background */
	background: #FFFFFF;
	/* Gray/400 */
	border: 1px solid #CED4DA;
	border-radius: 0.3rem;
}

.reserve-edit {
	width: 150px;
    height: 55px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20p;
    background: gainsboro;
    color: black;
    text-decoration: none;
}

.reserve-edit:hover{
  background: #357bd8;
  border-color: #474747;
  box-shadow: 0 4px 12px rgba(0,0,0,.08);
  transform: translateY(-1px);
}