@charset "UTF-8";

@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.review-main {
	min-height: 100vh;
	max-width: 100%;
	align-items: center;
}

.inner {
	width: 970px;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 45px;
	gap: 100px;
	/* min-height: 100vh; */
}

.left {
	width: 315px;
	max-width: 100%;
}

.right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;
	width: 560px;
	height: 468px;
}

.review-container {
	width: 100%;
	height: 100%;
	display: flex;
	gap: 10px;
	overflow: auto;
}

.review-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 258px;
	/* box-sizing: border-box; */
	text-decoration: none;
    color: black;
}

.review-container img {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	width: 260px;
	height: 250px;
	
	border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 10px;
	padding: 0 5px;
	width: 260px;
	height: 213px;
}

.card-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 5px;
	width: 201.67px;
	height: 32px;
	font-size: 20px;
	margin: 10px 0;
	border: 1px solid gainsboro;
	border-radius: 0.3rem;
	width: auto;
	justify-content: center;
}

.card-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 5px;
	width: 100%;
	height: 100%;
	font-size: 15px;
	border: none;
}

.date {
	color: gray;
}