@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.review-detail-main {
	min-height: 100vh;
	max-width: 100%;
	align-items: center;
}

.inner {
	width: 970px;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 45px;
	gap: 100px;
	/* min-height: 100vh; */
}

.left {
	width: 315px;
	max-width: 100%;
}

.right {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 24px;
	width: 500px;
	height: 600px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	width: 500px;
	height: 100%;
	gap: 10px;
}

.img-wrap {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	width: 500px;
	height: 250px;
	gap: 10px;
	overflow: auto;
}

.img-wrap img {
	width: 100%;
	height: 100%;
	border-radius: 2rem;
}

.reserve-detail {
	display: flex;
	flex-direction: row;
	align-items: end;
	padding: 0px;
	width: 600px;
	gap: 10px;
}

.reserve-detail img {
	width: 100px;
	height: 100px;
	border-radius: 100%
}

.reserve-detail p {
	background: rgb(236, 236, 236);
	width: 150px;
	height: 40px;
	border-radius: 0.5rem;
	text-align: center;
	align-content: center;
}

textarea {
	height: 150px;
	width: 100%;
	padding: 1rem;
	border: none;
}

.review-edit {
	width: 150px;
	height: 55px;
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20p;
    background: gainsboro;
    color: black;
    text-decoration: none;
}

.review-edit:hover{
  background: #357bd8;
  border-color: #474747;
  box-shadow: 0 4px 12px rgba(0,0,0,.08);
  transform: translateY(-1px);
}