@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 오토레이아웃 */
.designer-review-main {
	display: flex;
    justify-content: center;
    align-items: flex-start;
    /* padding: 40px 20px; */
    width: 100%;
    /* box-sizing: border-box; */
    height: 100%;
    padding: 0;
    background: #ffffff;
}

.designer-review-main .inner {
	max-width: 100%;
	display: flex;
	align-items: center;
	margin: 0 45px;
	/* min-height: 100vh; */
	
    gap: 1.5rem;
}

.right {
	display: flex;
    flex-direction: column;
    align-items: center;
    height: 984px;
    justify-content: flex-start;
    gap: 1.5rem;
}

.review-container {
	width: 100%;
	display: flex;
	gap: 10px;
	overflow: auto;
	
    margin: 1.5rem 0;
    height: 70%;
}

.review-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 258px;
	gap: 1.5rem;
    border: 1px solid gainsboro;
    border-radius: 1.5rem;
	/* box-sizing: border-box; */
}

.review-container img {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
    width: 100%;
    height: 50%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	padding: 0 5px;
	width: 260px;
    height: 100%;
    margin-bottom: 0.5rem;
}

.card-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 5px;
	width: 201.67px;
	height: 32px;
	font-size: 20px;
	margin: 10px 0;
	border: 1px solid gainsboro;
	border-radius: 0.3rem;
	width: auto;
	justify-content: center;
}

.card-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 5px;
	width: 100%;
	height: 100%;
	font-size: 15px;
	border: none;
}

.date {
	color: gray;
}


.card-body .user-reserve {
	display: flex;
	flex-direction: row;
	align-items: end;
	padding: 0px;
	width: 100%;
	gap: 10px;
}

.user-reserve img {
	width: 80px;
	height: 80px;
	border-radius: 100%
}

.user-reserve p {
    background: gainsboro;
    border-radius: 0.3rem;
    width: 70px;
    text-align: center;
}