* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border-radius: 10px;
}

h2 {
	text-align: center;
	padding-bottom: 50px;
}

body {
	font-family: Arial, sans-serif;
	background: #f4f4f4;
	padding: 20px;
}

.container {
	max-width: 400px;
	margin: auto;
}

/* 카드 공통 */
details {
	background: #fff;
	border-radius: 10px;
	margin-bottom: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

/* 카드 제목 */
summary {
	padding: 18px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* 펼쳐진 카드 강조 */
details[open] summary {
	background: #eee;
}

/* 카드 내용 */
.card-content {
	padding: 18px;
	border-top: 1px solid #ddd;
}

/* 캘린더 */
input[type="date"] {
	width: 100%;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}

/* 시간 버튼 */
.time-list {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}

.time-list input {
	display: none;
}

.time-list span {
	padding: 8px 12px;
	border: 1px solid #aaa;
	border-radius: 5px;
	cursor: pointer;
}

.time-list input:checked+span {
	background: #333;
	color: #fff;
}

/* 시술 선택 */
.service label {
	display: block;
	margin-bottom: 8px;
	cursor: pointer;
}

.reserve-btn {
	width: 100%;
	height: 54px;
	background: royalblue;
	color: #fff;
	font-size: 18px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 10px;
}

.reserve-btn:hover {
	background: #357bd8;
}

p {
	font-size: 14px;
}