* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{width: 30px;}
.left{
  display: flex;
  align-items: center;
  gap: 8px;
}
header{height: 60px; display: flex ; align-items: center; justify-content: space-between;
background-color: #f1f1f1; padding: 0 20px;}


.write-wrap {width: 600px;
margin: 40px auto;}

.title{text-align: center;
margin-bottom: 30px;}
form {
  width: 100%;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.form-row {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

textarea {
  height: 200px;
  resize: none;
}
.btn-area{display: flex; align-items: center; gap: 20px;}
.btn{margin-left: auto; }
button{
     margin-left: 10px;
    background-color: lightgray; border: solid gray 2px; border-radius: 8px;}


input[readonly],select:disabled {
  background-color: #f5f5f5;
  color: #666;
}
.btn:hover {
  background-color: #357bd8;
}

