* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 30px;
}

header {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f1f1f1;
	padding: 0 20px;
}

.left {
	display: flex;
	align-items: center;
	gap: 8px;
}

/* 작성 영역 */
.write-wrap {
	width: 700px;
	margin: 40px auto;
}

.title {
	text-align: center;
	margin-bottom: 30px;
}

form {
	background: #fff;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.form-row {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 6px;
	font-weight: bold;
}

input,
select,
textarea {
	width: 100%;
	padding: 8px;
	border: 1px solid black;
	border-radius: 6px;
}

textarea {
	height: 200px;
	resize: none;
}

/* 버튼 영역 */
.btn-area {
	display: flex;
	justify-content: flex-end;
	/* 🔥 오른쪽 정렬 */
	gap: 12px;
	margin-top: 20px;
}

/* 버튼 공통 */
.btn {
	padding: 8px 16px;
	font-size: 15px;
	border-radius: 8px;
	text-decoration: none;
	cursor: pointer;
	background-color: royalblue;
	color: #fff;
}

/* 취소 버튼 */
.btn-cancel {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}