* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section {
	justify-self: center;
	width: 700px;
}

.sec1 {
	margin-top: 130px;
	margin-bottom: 150px;
	justify-content: center;
	text-align: center;
	display: flex;
}

.container h1 {
	margin-bottom: 40px;
}

.sec2 {
	background-color: #f1f1f1;
	height: 36px;
	margin-bottom: 30px;
}

.sec3 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn {
	font-size: 20px;
	margin-top: 20px;
	width: 150px;
	background-color: royalblue;
	color: #f1f1f1;
	border-radius: 10px;
}

.btn:hover {
	background-color: #357bd8;
}

h2 {
	text-align: center;
}

.desc {
	white-space: pre-line;
}

.shop {
	font-size: 20px;
	justify-content: center;
	text-align: center;
}



.containerbox {
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 100%;
    margin: auto;
    justify-content: space-between;
}