 * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border-radius: 10px;
    }
    body {
      height: 100vh;
      background: #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
    }

       /* 로고 */
    .logo {
      text-align: center;
      margin-bottom: 30px;
    }

    .login-container {
      width: 360px;
      background: #fff;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    }

    .login-container h1 {
      text-align: center;
      margin-bottom: 25px;
    }

    /* 입력창 */
    .input-box {
      margin-bottom: 15px;
    }

    .input-box label {
      display: block;
      font-size: 14px;
      margin-bottom: 6px;
    }

    .input-box input {
      width: 100%;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 14px;
    }

    /* 아이디 저장 */
    .save-id {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      font-size: 14px;
    }

    .save-id input {
      margin-right: 6px;
    }

    /* 로그인 버튼 */
    .login-btn {
      width: 100%;
      padding: 12px;
      background: royalblue;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
    }

    .login-btn:hover {
      background: #357bd8;
    }

    .login-links {
      margin-top: 20px;
      text-align: center;
      font-size: 13px;
    }

    .login-links a {
      color: #555;
      text-decoration: none;
      margin: 0 6px;
    }

    .login-links a:hover {
      text-decoration: underline;
    }