* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border-radius: 10px;
}

body {
	height: 100vh;
	background: #f5f5f5;
	display: flex;
}

.container {
	height: 100%;
    /* 추가! 영아 */
    justify-items: center;
    align-content: center;
	text-align: center;
}

.title {
	font-size: 32px;
	margin-bottom: 30px;
}

.card-wrap {
	display: flex;
	gap: 24px;
}

.login-card {
	width: 340px;
	background: #fff;
	border-radius: 14px;
	padding: 100px;
	text-decoration: none;
	color: #333;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
	transition: all 0.2s ease;
	cursor: pointer;
}

.login-card:hover {
	transform: translateY(-6px);
	box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.login-card img {
	width: 100%;
	height: 100%;
	;
	object-fit: cover;
	border-radius: 10px;
	margin-bottom: 15px;
}

.login-card h2 {
	font-size: 20px;
	margin-bottom: 8px;
}

.login-card p {
	font-size: 14px;
	color: #666;
}

.owner {
	border-top: 20px solid #ff8a00;
}

.user {
	border-top: 20px solid #4a90e2;
}